@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "PT Sans Narrow", sans-serif;
    background: rgb(186, 198, 224);
    background: linear-gradient(
      48deg,
      rgba(186, 198, 224, 1) 0%,
      rgba(213, 189, 187, 1) 100%
    );
  }
  .card {
    background-color: rgb(248, 245, 236, 0.6);
    background-repeat: no-repeat;
    padding: 12px 8px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
